<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <!-- Example with replacement for secret masking -->
      <pattern>%d{HH:mm:ss.SSS} [%16.16thread] %-5level %-30.30logger{30} \(%X{camel.breadcrumbId}\) - %replace(%m){'(secret:)[^\s]*','$1--'}%n%xEx</pattern>
    </encoder>
  </appender>

  <!--<logger name="org.apache.camel" level="DEBUG"/>-->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>



</configuration>
